h1 {
  color: black;
}
p {
  color: black;
}

p {
  border: 2px solid ;
  padding: 30px;
}

p {
  border: 0px solid ;
  margin: 50px;
}

h1 {
  background-color: ;
}

div {
  background-color: ;
}

p {
  background-color: silver;
}

table {
  border: 1px solid black;
}

body {
 background-image: url("image/bgw2.jpg");
 background-color: #cccccc;
}